/* ! HERO CSS */

.hero {
    height: 100vh;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: url(https://media.istockphoto.com/id/903417402/pt/foto/luxury-construction-hotel-with-swimming-pool-at-sunset.jpg?s=2048x2048&w=is&k=20&c=QywfXuFTI-rXW2c_uFW-qQ9h0kuBsZPDWwK2zBxeNOk=)
    center/cover;
}

.heroContent{
    background-color: #02061759;
    padding: 20px;
    border-radius: 8px;
    
}
#sobre {
    padding: 60px;
    text-align: center;
}

